.logo
{
    height: 100px;
    margin-top: 20px;
}

body
{
    
    background:url("img/urbano.jpg");
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

p
{
  font-size:18px;
  font-family: 'Open Sans',sans-serif;
}

h2.hins{
  color: #dbcbec;
}

h2.hgit{
  color: #bfbfbf;
}

h2.hfac{
  color: #95aaea;
}

h2.hwha{
  color: #cbf1cf;
}